@page "/"
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h4>Demo B2C</h4>
<br/>

<a href="@GetSwaggerUrl()/swagger" target="_blank">Swagger</a>

<p>Environment: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</p>

<p>Version: @Configuration["Version"]</p>

<p>BaseUrl: @Configuration["WeatherApi:BaseUrl"]</p>

<p>SecureUrl: @Configuration["WeatherApi:SecureUrl"]</p>



@code {
    private string GetSwaggerUrl()
    {
        var swaggerUrl = Configuration["SwaggerUrl"];

        if (!string.IsNullOrEmpty(swaggerUrl))
        {
            return swaggerUrl;
        }

        return Configuration["SwaggerUrl"] ?? "https://localhost:8083";
    }
}